# {{avocado_conf}}

[datadir.paths]
base_dir = {{avocado_dir}}
test_dir = {{avocado_test_dir}}
data_dir = {{avocado_data_dir}}
logs_dir = {{avocado_log_dir}}

[sysinfo.collect]
enabled = True
profiler = True
