<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.14.1">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.2.4">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/create_credentials</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GITHUB_BOT_USER_NAME</name>
          <description>GitHub user name.</description>
          <defaultValue>{{pipeline_constants.GITHUB_BOT_USER_NAME}}</defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.michelin.cio.hudson.plugins.passwordparam.PasswordParameterDefinition>
          <name>GITHUB_BOT_ACCESS_TOKEN</name>
          <description>Token used to access GitHub with read/write permissions.</description>
        </com.michelin.cio.hudson.plugins.passwordparam.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JENKINS_SLAVE_USER_NAME</name>
          <description>User name used to access Jenkins slaves.</description>
          <defaultValue>jenkins</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JENKINS_SLAVE_PRIVATE_SSH_KEY_PATH</name>
          <description>Path to private SSH key used to access Jenkins slaves.</description>
          <defaultValue>{{jenkins_home_dir}}/.ssh/jenkins_id_rsa</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.41">
    <script>{{credentials_job_script_xml}}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
