<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.github__branch__source.GitHubConfiguration plugin="github-branch-source@2.2.3">
  <endpoints>
    <org.jenkinsci.plugins.github__branch__source.Endpoint>
      <name>github_domain</name>
      <apiUri>{{github_api_uri}}</apiUri>
    </org.jenkinsci.plugins.github__branch__source.Endpoint>
  </endpoints>
</org.jenkinsci.plugins.github__branch__source.GitHubConfiguration>
