---
- name: Setup Jenkins master node
  hosts: jenkins-master
  remote_user: root
  roles:
    - selinux
    - epel
    - packages-jenkins-master
    - user
    - nginx
    - firewalld
    - ssh
    - systemd
    - jenkins-master
    - jenkins-seed-job
    - { role: jenkins-ldap, when: configure_ldap }
  vars_files:
    - vars.yaml
    - vars-master.yaml
  vars_prompt:
    - name: "jenkins_admin_user"
      prompt: "Enter Jenkins admin user name"
      default: "admin"
      private: no
    - name: "jenkins_admin_password"
      prompt: "Enter Jenkins admin password"
      private: yes
    - name: "jenkins_private_ssh_key_file_path"
      prompt: "Enter Jenkins private SSH key file path"
      default: "~/.ssh/jenkins_id_rsa"
      private: no
    - name: "jenkins_public_ssh_key_file_path"
      prompt: "Enter Jenkins public SSH key file path"
      default: "~/.ssh/jenkins_id_rsa.pub"
      private: no
